* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  margin: 0;
}

.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #262626;
  background-color: #1a1a1a;
  padding-bottom: 22px;
  padding-top: 22px;
}

.container {
  max-width: 1636px;
  margin: 0 auto;
  padding: 0 20px;
}

.box-in-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 93.33px;
  height: 28px;
  cursor: pointer;
}

.navbar-ul {
  position: relative;
  display: flex;
  padding-top: 10px;
  align-items: center;
  margin: 0;
  display: none;
}

.nav-item {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  padding: 12px 25px;
  transition: color 0.3s ease;
  margin: 0;
}

.nav-bg {
  position: absolute;
  bottom: -14px;
  z-index: 1;
  height: 54px;
  background-color: #141414;
  border-radius: 10px;
  border: 1px solid #262626;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  .nav-item.active {
    color: #fff;
  }
}

.contact-btn {
  display: none;
  padding: 12.5px 24px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  border-radius: 10px;
  background-color: #141414;
  border: 1px solid #262626;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.contact-btn:hover {
  background-color: #1a1a1a;
  border-color: #444;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #0000004d;
}

.contact-btn:active {
  transform: translateY(0);
}

.hamburger-btn {
  width: 28px;
  height: 14px;
  border: none;
  background: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-btn span,
.hamburger-btn span::before,
.hamburger-btn span::after {
  content: "";
  display: block;
  background: #ffffff;
  height: 3px;
  width: 28px;
  position: absolute;
  transition: 0.3s;
}

.hamburger-btn span::before {
  top: -8px;
}
.hamburger-btn span::after {
  bottom: -8px;
}

.hamburger-btn.open span {
  background: transparent;
}
.hamburger-btn.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.hamburger-btn.open span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  background: #1a1a1a;
  transition: 0.4s;
  padding-top: 80px;
  border-left: 2px solid #262626;
}

.sidebar.active {
  right: 0;
}

.sidebar nav a {
  display: block;
  padding: 15px 25px;
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
}

.sidebar nav a:hover {
  border: 1px solid #262626;
}

// sect one page

.sect-one {
  padding-top: 40px;
  padding-bottom: 61px;
}

.sect-one-img {
  width: 358px;
  height: 302px;
  border-radius: 12px;
  position: relative;
}

.sect-one-sub-img {
  position: absolute;
  top: 338px;
  width: 117px;
  height: 117px;
}

.sect-one-text-box {
  padding-top: 56px;
}

.sect-one-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
  color: #ffffff;
}

.sect-one-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
  color: #999999;
}

.sect-one-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border: 1px solid #262626;
  background-color: transparent;
  padding: 14px 137px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.sect-one-btn:hover {
  background-color: #1a1a1a;
  border-color: #444;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #0000004d;
}

.sect-one-btn:active {
  transform: translateY(0);
}

.sect-one-btn-two {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border: none;
  background-color: #703bf7;
  padding: 14px 119px;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.sect-one-btn-two:hover {
  background-color: #5e2edb;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px #703bf74d;
}

.sect-one-btn-two:active {
  transform: translateY(0);
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.stat-card {
  padding: 16px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  border-radius: 8px;
  cursor: pointer;
}

.stat-card:hover {
  background-color: #222222;
  border-color: #4d4d4d;
  box-shadow: 0 8px 20px #00000066;
  transform: translateY(-4px);
}

.stat-card:active {
  transform: scale(0.96);
  background-color: #141414;
  transition: all 0.1s;
}

.full-width {
  grid-column: span 2;
}

.stat-card h3 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.stat-card p {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #999999;
  margin: 0;
  margin-top: 2px;
}

// Magic Cards

.sect-one-magic-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 358px;
  margin-top: 40px;
  border: 1px solid #262626;
  box-shadow: 0px 0px 0px 4px #191919;
  background-color: #141414;
  padding: 10px;
  border-radius: 12px;
}

.sect-one-magic-card {
  width: 163px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 19px 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.sect-one-magic-card:hover {
  background-color: #1a1a1a;
  border-color: #a78bfa;
  box-shadow: 0 0 15px #a78bfa66;
  transform: translateY(-5px);
}

.sect-one-magic-card:active {
  transform: scale(0.97);
  background-color: #111;
}

.sect-one-magic-strel {
  position: absolute;
  left: 118px;
  top: 16px;
  width: 26px;
  height: 26px;
}

.sect-one-magic-img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}

.sect-one-magic-name {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

// Sect two page

.sect-two {
  padding-bottom: 61px;
}

.sect-two-stars-img {
  width: 45px;
  height: 20px;
}

.sect-two-text-wrapper {
  width: 358px;
  padding-bottom: 40px;
}

.sect-two-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 6px;
}

.sect-two-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  color: #999999;
  margin: 0;
}

.obli {
  display: none;
}

.sect-two-card-shop {
  width: 358px;
  background-color: #141414;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 24px;
}

.sect-two-card-build-img {
  width: 310px;
  height: 210px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.sect-two-shop-text-box {
  width: 310px;
  padding-bottom: 20px;
}

.sect-two-shop-title {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 2px;
}

.sect-two-shop-text {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #999999;
}

.shop-text-more {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.shop-text-more:active {
  opacity: 0.7;
  transform: translateY(1px);
}

.shop-text-more:hover {
  color: #a78bfa;
}

.one {
  display: none;
}

.two {
  display: none;
}

.sect-two-shop-btn-box {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-bottom: 20px;
}

.sect-two-shop-bedroom-btn {
  padding: 6.5px 14px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.sect-two-shop-bedroom-btn::before {
  content: "";
  display: block;
  background-image: url("../images/Bed.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.sect-two-shop-bedroom-btn:hover {
  background: #222;
  border-color: #4d4d4d;
  box-shadow: 0 0 15px #ffffff0d;
  transform: translateY(-2px);
}

.sect-two-shop-bedroom-btn:active {
  transform: scale(0.95);
  background: #2d2d2d;
  border-color: #a78bfa;
  box-shadow: 0 0 10px #a78bfa33;
}

.sect-two-shop-bathroom-btn {
  padding: 6px 14px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.sect-two-shop-bathroom-btn::before {
  content: "";
  display: block;
  background-image: url("../images/Vanna.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.sect-two-shop-bathroom-btn:hover {
  background: #222;
  border-color: #4d4d4d;
  box-shadow: 0 0 15px #ffffff0d;
  transform: translateY(-2px);
}

.sect-two-shop-bathroom-btn:active {
  transform: scale(0.95);
  background: #2d2d2d;
  border-color: #a78bfa;
  box-shadow: 0 0 10px #a78bfa33;
}

.sect-two-shop-villa-btn {
  padding: 6px 14px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.sect-two-shop-villa-btn::before {
  content: "";
  display: block;
  background-image: url("../images/Villa.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.sect-two-shop-villa-btn:hover {
  background: #222;
  border-color: #4d4d4d;
  box-shadow: 0 0 15px #ffffff0d;
  transform: translateY(-2px);
}

.sect-two-shop-villa-btn:active {
  transform: scale(0.95);
  background: #2d2d2d;
  border-color: #a78bfa;
  box-shadow: 0 0 10px #a78bfa33;
}

.sect-two-text-info {
  display: flex;
  align-items: center;
  gap: 28px;
}

.sect-two-btn-text-box-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #999999;
  margin: 0;
}

.sect-two-btn-text-box-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
}

.sect-two-btn-shop-btn {
  padding: 14px 35px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background-color: #703bf7;
  border-radius: 8px;
  border: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  outline: none;
}

.sect-two-btn-shop-btn:hover {
  background-color: #703bf7;
  border-color: #a78bfa;
  box-shadow: 0 0 20px #703bf7;
  transform: translateY(-2px);
}

.sect-two-btn-shop-btn:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 4px 10px #703bf733;
  background-color: #4c1d95;
}

.pagination-controls {
  width: 358px;
  display: flex;
  align-items: center;
  gap: 47px;
  margin-top: 30px;
  border-top: 1px solid #262626;
}

.nav-arrow {
  padding: 14px 20px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  margin-top: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bj {
  display: none;
}

.nav-arrow:hover {
  background-color: #222;
  border-color: #4d4d4d;
}

.nav-arrow:active {
  transform: scale(0.96);
}

.page-one {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.page-number {
  margin: 0;
  margin-top: 16px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #999999;
  display: flex;
  align-items: center;
  gap: 7px;
}

.page-number::before {
  content: "";
  display: block;
  background-image: url("../images/Button.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.page-number::after {
  content: "";
  display: block;
  background-image: url("../images/Button\ \(1\).svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

// Sect three page

.sect-three {
  padding-bottom: 61px;
}

.testimonial-card {
  width: 358px;
  border: 1px solid #262626;
  background-color: #141414;
  padding: 30px;
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.testimonial-card:hover {
  background-color: #1a1a1a;
  border-color: #703bf7;
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 20px 40px #703bf7;
}

.tg {
  display: none;
}

.pg {
  display: none;
}

.stars-sect-three {
  width: 182px;
  height: 30px;
}

.testimonial-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 6px;
  margin-top: 24px;
}

.testimonial-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 26.5px;
}

.stars-sect-three:hover {
  filter: drop-shadow(0 0 5px #ffd700);
  transition: all 0.3s ease;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info::before {
  content: "";
  display: block;
  background-image: url("../images/Profile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.fg::before {
  content: "";
  display: block;
  background-image: url("../images/Profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.hg::before {
  content: "";
  display: block;
  background-image: url("../images/Profile\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.users-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
}

.users-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #999999;
  margin: 0;
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .navbar-logo {
    width: 113px;
    height: 34px;
  }

  .navbar-ul {
    display: inline;
  }

  .contact-btn {
    display: inline;
  }

  .hamburger-btn {
    display: none;
  }

  //   sect one page

  .wrapper-in-sect-one {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 100px;
  }

  .sect-one-img {
    width: 690px;
    height: 622px;
  }

  .sect-one-sub-img {
    width: 129px;
    height: 129px;
    left: 665px;
    top: 270px;
  }

  .sect-one-title {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    color: #ffffff;
    margin: 0;
  }

  .sect-one-text {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
    margin-bottom: 50px;
  }

  .stats-container {
    display: flex;
    gap: 16px;
  }

  .stat-card {
    width: 192px;
    padding: 14px;
  }

  .stat-card h3 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #ffffff;
    margin: 0;
    text-align: left;
  }

  .stat-card p {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
    margin: 0;
    text-align: left;
  }

  .sect-one-btn-box {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 50px;
  }

  .sect-one-btn {
    padding: 14px 20px;
    font-size: 14px;
  }

  .sect-one-btn-two {
    padding: 14px 20px;
    font-size: 14px;
    margin: 0;
  }

  .nav-item {
    font-size: 14px;
    padding: 14px 20px;
  }

  .nav-bg {
    top: -5px;
    height: 51px;
  }

  .contact-btn {
    padding: 14px 20px;
    font-size: 14px;
  }

  // Magic Cards

  .sect-one {
    padding-bottom: 120px;
  }

  .sect-one-magic-cards-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .sect-one-magic-card {
    width: 337px;
  }

  .sect-one-magic-img {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }

  .sect-one-magic-name {
    font-size: 16px;
  }

  .sect-one-magic-strel {
    width: 26px;
    height: 26px;
    left: 295px;
  }

  // Sect two page

  .sect-two-text-wrapper {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  .sect-two-text {
    display: none;
  }

  .obli {
    display: inline;
    font-size: 16px;
  }

  .sect-two-title {
    font-size: 38px;
  }

  .sect-two-stars-img {
    width: 55px;
    height: 24px;
  }

  .nav-arrow {
    display: none;
  }

  .bj {
    display: inline;
    margin-top: 60px;
  }

  .sect-two-card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }

  .sect-two-card-shop {
    width: 413px;
  }

  .sect-two-card-shop img {
    width: 353px;
    height: 255px;
    margin: 0;
    margin-bottom: 20px;
  }

  .sect-two-shop-text-box {
    width: 353px;
  }

  .sect-two-card-shop h4 {
    font-size: 20px;
  }

  .sect-two-card-shop p {
    font-size: 16px;
  }

  .one {
    display: block;
  }

  .two {
    display: block;
  }

  .sect-two-shop-btn-box {
    width: 353px;
  }

  .sect-two-text-info {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  .pagination-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-number {
    display: flex;
    gap: 30px;
  }

  .page-one {
    margin-right: -25px;
  }

  .bt {
    display: block;
    margin-top: 37px;
  }

  // sect three page

  .wrapper-comintariy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }

  .testimonial-card {
    width: 413px;
  }

  .stars-sect-three {
    width: 222px;
    height: 36px;
  }

  .testimonial-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .testimonial-card p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .user-info::before {
    width: 50px;
    height: 50px;
  }

  .tg {
    display: block;
  }

  .pg {
    display: block;
  }
}

@media only screen and (min-width: 1636px) {
  .container {
    width: 1636px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .navbar-logo {
    width: 160px;
    height: 48px;
  }

  .nav-item {
    font-size: 18px;
  }

  .navbar-ul {
    display: inline;
  }

  .contact-btn {
    padding: 14px 24px;
    display: inline;
    font-size: 18px;
  }

  .nav-bg {
    width: 96px;
    height: 55px;
    top: -4px;
  }

  .hamburger-btn {
    display: none;
  }

  //   sect one page

  .wrapper-in-sect-one {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 68px;
  }

  .sect-one-img {
    width: 850px;
    height: 814px;
  }

  .sect-one-sub-img {
    width: 175px;
    height: 175px;
    left: 690px;
  }

  .sect-one-title {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    color: #ffffff;
    margin: 0;
  }

  .sect-one-text {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #999999;
  }

  .stats-container {
    display: flex;
    gap: 20px;
  }

  .stat-card {
    width: 213px;
  }

  .stat-card h3 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #ffffff;
    margin: 0;
    text-align: left;
  }

  .stat-card p {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #999999;
    margin: 0;
    text-align: left;
  }

  .sect-one-btn-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
  }

  .sect-one-btn {
    padding: 18px 24px;
  }

  .sect-one-btn-two {
    padding: 18px 24px;
    margin: 0;
  }

  .sect-one-btn {
    padding: 18px 24px;
    font-size: 18px;
  }

  .sect-one-btn-two {
    padding: 18px 24px;
    font-size: 18px;
  }

  // Magic Cards

  .sect-one {
    padding-bottom: 189px;
  }

  .sect-one-magic-cards-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
  }

  .sect-one-magic-card {
    width: 373px;
    height: 212px;
    padding: 40px 20px;
  }

  .sect-one-magic-img {
    width: 82px;
    height: 82px;
    margin-bottom: 16px;
  }

  .sect-one-magic-name {
    font-size: 20px;
  }

  .sect-one-magic-strel {
    width: 34px;
    height: 34px;
    left: 325px;
    top: 12px;
  }

  // Sect two page

  .sect-two {
    padding-bottom: 110px;
  }

  .sect-two-text-wrapper {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  .sect-two-text {
    display: none;
  }

  .obli {
    display: inline;
    font-size: 18px;
  }

  .sect-two-title {
    font-size: 48px;
  }

  .sect-two-stars-img {
    width: 68px;
    height: 30px;
  }

  .nav-arrow {
    display: none;
  }

  .bj {
    padding: 18px 24px;
    display: block;
    margin-top: 64px;
    font-size: 18px;
  }

  .sect-two-card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .sect-two-card-shop {
    width: 512px;
  }

  .sect-two-card-shop img {
    width: 460px;
    height: 318px;
    margin: 0;
    margin-bottom: 30px;
  }

  .sect-two-shop-text-box {
    width: 432px;
    padding-bottom: 30px;
  }

  .sect-two-card-shop h4 {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .sect-two-card-shop p {
    font-size: 18px;
  }

  .one {
    display: block;
  }

  .two {
    display: block;
  }

  .sect-two-text-info {
    gap: 50px;
  }

  .sect-two-btn-text-box-text {
    font-size: 18px;
  }

  .sect-two-btn-text-box-title {
    margin: 0;
    font-size: 24px;
  }

  .sect-two-btn-shop-btn {
    padding: 18px 54.5px;
    font-size: 18px;
  }

  .sect-two-shop-btn-box {
    width: 432px;
    gap: 16px;
  }

  .sect-two-shop-bedroom-btn {
    padding: 8px 14px;
    font-size: 18px;
    gap: 6px;
  }

  .sect-two-shop-bedroom-btn::before {
    width: 24px;
    height: 24px;
  }

  .sect-two-shop-bathroom-btn {
    padding: 8px 14px;
    font-size: 18px;
    gap: 6px;
  }

  .sect-two-shop-bathroom-btn::before {
    width: 24px;
    height: 24px;
  }

  .sect-two-shop-villa-btn {
    padding: 8px 14px;
    font-size: 18px;
    gap: 6px;
  }

  .sect-two-shop-villa-btn::before {
    width: 24px;
    height: 24px;
  }

  .sect-two-text-info {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .pagination-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-number {
    display: flex;
    gap: 30px;
  }

  .page-one {
    margin-right: -25px;
  }

  .bt {
    padding: 18px 24px;
    display: block;
    margin-top: 50px;
    font-size: 18px;
  }

  .page-number {
    font-size: 20px;
  }

  .page-one {
    font-size: 20px;
  }

  .page-number::after {
    width: 58px;
    height: 58px;
  }

  .page-number::before {
    width: 58px;
    height: 58px;
  }

  // Sect three page

  .sect-three {
    padding-bottom: 110px;
  }

  .wrapper-comintariy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .testimonial-card {
    width: 512px;
    height: 442px;
    padding: 50px;
    border-radius: 12px;
  }

  .stars-sect-three {
    width: 260px;
    height: 44px;
  }

  .testimonial-card h3 {
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 40px;
  }

  .testimonial-card p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .user-info::before {
    width: 60px;
    height: 60px;
  }

  .users-title {
    font-size: 20px;
  }

  .users-text {
    font-size: 18px;
  }

  .tg {
    display: block;
  }

  .pg {
    display: block;
  }
}
