* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  margin: 0;
}

.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #262626;
  background-color: #1a1a1a;
  padding-bottom: 22px;
  padding-top: 22px;
}

.container {
  max-width: 1636px;
  margin: 0 auto;
  padding: 0 20px;
}

.box-in-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 93.33px;
  height: 28px;
  cursor: pointer;
}

.navbar-ul {
  position: relative;
  display: flex;
  padding-top: 10px;
  align-items: center;
  margin: 0;
  display: none;
}

.nav-item {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  padding: 12px 25px;
  transition: color 0.3s ease;
  margin: 0;
}

.nav-bg {
  position: absolute;
  bottom: -14px;
  z-index: 1;
  height: 54px;
  background-color: #141414;
  border-radius: 10px;
  border: 1px solid #262626;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  .nav-item.active {
    color: #fff;
  }
}

.contact-btn {
  display: none;
  padding: 12.5px 24px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  border-radius: 10px;
  background-color: #141414;
  border: 1px solid #262626;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.contact-btn:hover {
  background-color: #1a1a1a;
  border-color: #444;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contact-btn:active {
  transform: translateY(0);
}

.hamburger-btn {
  width: 28px;
  height: 14px;
  border: none;
  background: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-btn span,
.hamburger-btn span::before,
.hamburger-btn span::after {
  content: "";
  display: block;
  background: #ffffff;
  height: 3px;
  width: 28px;
  position: absolute;
  transition: 0.3s;
}

.hamburger-btn span::before {
  top: -8px;
}
.hamburger-btn span::after {
  bottom: -8px;
}

.hamburger-btn.open span {
  background: transparent;
}
.hamburger-btn.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.hamburger-btn.open span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  background: #1a1a1a;
  transition: 0.4s;
  padding-top: 80px;
}

.sidebar.active {
  right: 0;
}

.sidebar nav a {
  display: block;
  padding: 15px 25px;
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
}

.sidebar nav a:hover {
  border: 1px solid #262626;
}

// sect one page

.sect-one {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sect-one-img {
  width: 358px;
  height: 302px;
  border-radius: 12px;
  position: relative;
}

.sect-one-sub-img {
  position: absolute;
  top: 338px;
  width: 117px;
  height: 117px;
}

.sect-one-text-box {
  padding-top: 56px;
}

.sect-one-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
  color: #ffffff;
}

.sect-one-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
  color: #999999;
}

.sect-one-btn {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border: 1px solid #262626;
  background-color: transparent;
  padding: 14px 137px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.sect-one-btn:hover {
  background-color: #1a1a1a;
  border-color: #444;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.sect-one-btn:active {
  transform: translateY(0);
}

.sect-one-btn-two {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border: none;
  background-color: #703bf7;
  padding: 14px 119px;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.sect-one-btn-two:hover {
  background-color: #5e2edb; /* Biroz to'qroq rang */
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(112, 59, 247, 0.3);
}

.sect-one-btn-two:active {
  transform: translateY(0);
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.stat-card {
  padding: 16px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  transition: transform 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.full-width {
  grid-column: span 2;
}

.stat-card h3 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.stat-card p {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #999999;
  margin: 0;
  margin-top: 2px;
}

@media only screen and (min-width: 1636px) {
  .navbar-logo {
    width: 160px;
    height: 48px;
  }

  .navbar-ul {
    display: inline;
  }

  .contact-btn {
    display: inline;
  }

  .hamburger-btn {
    display: none;
  }

  //   sect one page

  .wrapper-in-sect-one {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
  }

  .sect-one-img {
    width: 850px;
    height: 814px;
  }

  .sect-one-sub-img {
    width: 175px;
    height: 175px;
    left: 690px;
  }

  .sect-one-title {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    color: #ffffff;
    margin: 0;
  }

  .sect-one-text {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #999999;
  }

  .stats-container {
    display: flex;
    gap: 20px;
  }

  .stat-card {
    width: 213px;
  }

  .stat-card h3 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #ffffff;
    margin: 0;
    text-align: left;
  }

  .stat-card p {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #999999;
    margin: 0;
    text-align: left;
  }

  .sect-one-btn-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
  }

  .sect-one-btn {
    padding: 18px 24px;
  }

  .sect-one-btn-two {
    padding: 18px 24px;
    margin: 0;
  }
}
